footer {
  width: clamp(30%, 80%, 800px);
  position: fixed;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    bottom: 1rem;
    right: unset;
  }
  & button {
    font-size: 1rem;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: .7rem;
    padding: .8rem 2rem;
    background-color: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
    margin-top: 1rem;

    @media screen and (max-width: 700px) {
      padding: 0.7rem 1.9rem;
      position: unset;
      display: flex;
      border-radius: .5rem;
    }
  }
}
